html {
  font-size: 10px;
  background: url("photos/1_E9EEb8rLwOHLLLA201rauw.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.keys {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.key {
  flex-basis: 10rem;
  height: 6rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  transition: all 0.07s ease;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

.play {
  transform: scale(2.1);
  border-color: #ffc600;
  box-shadow: 0 0 0.5rem #ffc600;
}
